<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>{{ editMode ? "Edit entry" : "Add new entry" }}</h4>

      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-12">
            <label for="userName">Name</label>
            <input
              type="text"
              class="form-control"
              id="userName"
              placeholder="Your name"
              formControlName="userName"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-4">
            <label for="startDate">Start date & time</label>
            <input
              type="datetime-local"
              class="form-control"
              id="startDate"
              formControlName="startDateTime"
            />
          </div>
          <div class="form-group col-lg-4">
            <label for="endDate">End date & time</label>
            <input
              type="datetime-local"
              class="form-control"
              id="endDate"
              formControlName="endDateTime"
            />
          </div>
          <div class="form-group col-lg-4">
            <label for="requestType">Type of need</label>
            <select
              id="requestType"
              class="form-control"
              formControlName="requestType"
            >
              <option value="active">
                I will be logged in most of the time
              </option>
              <option value="lowComputing">
                Computing - small calculations
              </option>
              <option value="mediumComputing">
                Computing - medium calculations
              </option>
              <option value="highComputing">
                Computing - large/intense calculations
              </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            id="description"
            rows="3"
            placeholder="Enter a short description (reason)"
            formControlName="description"
          ></textarea>
        </div>
        <div class="loading" *ngIf="isLoading">
          <div class="loader">Loading...</div>
        </div>
        <div class="btns" *ngIf="!isLoading">
          <button type="submit" class="btn btn-primary">
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            type="button"
            class="btn btn-outline-danger"
            *ngIf="editMode"
            (click)="onDelete()"
          >
            Delete
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="onCancel()"
          >
            Cancel
          </button>
          <div *ngIf="displayError">
            <small style="color: darkred">Please enter all required data</small>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
