<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>{{ editMode ? "Edit entry" : "Add new entry" }}</h4>

      <div class="loading" *ngIf="!showForm">
        <div class="loader">Loading...</div>
      </div>
      <form
        [ngClass]="{ 'd-none': !showForm }"
        [formGroup]="entryForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-row">
          <div class="form-group col-12">
            <label for="userName">Name</label>
            <input
              type="text"
              class="form-control"
              id="userName"
              placeholder="Your name"
              formControlName="userName"
            />
            <small
              class="input-error"
              *ngIf="getFormControlErrors('userName').length > 0"
            >
              {{ getFormControlErrors("userName") }}
            </small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-4">
            <label for="startDate">Start date & time</label>
            <input
              class="form-control"
              id="startDate"
              formControlName="startDateTime"
              [owlDateTime]="dt1"
              [owlDateTimeTrigger]="dt1"
              placeholder="Start date & time"
              [min]="minStart"
              (dateTimeChange)="onStartDateTimeChange()"
            />
            <owl-date-time #dt1></owl-date-time>
            <small
              class="input-error"
              *ngIf="getFormControlErrors('startDateTime').length > 0"
            >
              {{ getFormControlErrors("startDateTime") }}
            </small>
          </div>
          <div class="form-group col-lg-4">
            <label for="endDate">End date & time</label>
            <input
              class="form-control"
              id="endDate"
              formControlName="endDateTime"
              [owlDateTime]="dt2"
              [owlDateTimeTrigger]="dt2"
              placeholder="End date & time"
              [min]="minEnd"
            />
            <owl-date-time #dt2></owl-date-time>
            <small
              class="input-error"
              *ngIf="getFormControlErrors('endDateTime').length > 0"
            >
              {{ getFormControlErrors("endDateTime") }}
            </small>
          </div>
          <div class="form-group col-lg-4">
            <label for="requestType">Type of need</label>
            <select
              id="requestType"
              class="form-control"
              formControlName="requestType"
            >
              <option value="active">
                I will be logged in most of the time
              </option>
              <option value="lowComputing">
                Computing - small calculations
              </option>
              <option value="mediumComputing">
                Computing - medium calculations
              </option>
              <option value="highComputing">
                Computing - large/intense calculations
              </option>
            </select>
            <small
              class="input-error"
              *ngIf="getFormControlErrors('requestType').length > 0"
            >
              {{ getFormControlErrors("requestType") }}
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            id="description"
            rows="3"
            placeholder="Enter a short description (reason)"
            formControlName="description"
          ></textarea>
        </div>
        <div class="loading" *ngIf="isLoading">
          <div class="loader">Loading...</div>
        </div>
        <div class="btns" *ngIf="!isLoading">
          <button type="submit" class="btn btn-primary">
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            type="button"
            class="btn btn-outline-danger"
            *ngIf="editMode"
            (click)="onDelete()"
          >
            Delete
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="onCancel()"
          >
            Cancel
          </button>
          <div *ngIf="displayError">
            <small style="color: darkred">{{ generalError }}</small>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
