.outter {
  position: absolute;
  width: 100%;
  cursor: pointer;
}
.active {
  background-color: rgba(220, 0, 0, 0.3);
}
.lowComputing {
  background-color: rgba(120, 200, 120, 0.3);
}
.mediumComputing {
  background-color: rgba(255, 213, 87, 0.3);
}
.highComputing {
  background-color: rgba(220, 0, 0, 0.3);
}

.outter-hovered {
  /* background-color: rgba(73, 203, 255, 0.5); */
  background-color: rgba(138, 138, 138, 0.3);
}
::ng-deep .tool-tip-element {
  background-color: rgba(202, 202, 202, 0.95);
  font-size: medium;
  white-space: pre-wrap;
  color: black !important;
}
::ng-deep .tool-tip-element::first-line {
  font-weight: 500 !important;
  text-align: center;
}
